In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [104]:
sp = pd.read_csv(r'C:\Users\Dell\Downloads\SpSteam-2021.csv')

In [105]:
sp

,Trend,Sulphur temp,Air Temp,Air Pressure,Burner temp,pressure drop in Furnace+WHB,WHB Outlet Temp,BFW Temp,Boiler out Steam temp,Boiler out steam pressure,Flowmter reading,Production Rate,Steam Generation,Sp. Steam Generation
0,01-02-2022 01:00,129.03,115.55,533.45,1107.17,827.72,334.95,102.59,335.14,38.06,51.92,51.92,64.10,1.23459168
1,01-02-2022 02:00,128.77,116.81,532.47,1107.51,823.07,334.84,101.36,335.14,38.18,110.19,58.27,64.05,1.09919341
2,01-02-2022 03:00,128.57,114.05,534.48,1103.31,822.77,334.30,100.38,335.14,37.96,168.22,58.03,63.91,1.1013269
3,01-02-2022 04:00,128.49,113.44,534.67,1102.78,822.05,333.77,102.76,335.14,37.68,221.14,52.92,64.21,1.213340892
4,01-02-2022 05:00,128.38,113.42,536.33,1102.98,827.89,333.50,101.50,335.14,37.45,279.83,58.69,64.51,1.099165105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Trend                         671 non-null    object
 1   Sulphur temp                  659 non-null    float64
 2   Air Temp                      659 non-null    float64
 3   Air Pressure                  659 non-null    float64
 4   Burner temp                   659 non-null    float64
 5   pressure drop in Furnace+WHB  659 non-null    float64
 6   WHB Outlet Temp               659 non-null    float64
 7   BFW Temp                      659 non-null    float64
 8   Boiler out Steam temp         661 non-null    float64
 9   Boiler out steam pressure     659 non-null    float64
 10  Flowmter reading              671 non-null    float64
 11  Production Rate               671 non-null    float64
 12  Steam Generation              659 non-null    float64
 13  Sp. Steam Generation          671 non-null    object
dtypes: float64(12), object(2)
memory usage: 97.2+ KB

In [107]:
sp.isnull()

,Trend,Sulphur temp,Air Temp,Air Pressure,Burner temp,pressure drop in Furnace+WHB,WHB Outlet Temp,BFW Temp,Boiler out Steam temp,Boiler out steam pressure,Flowmter reading,Production Rate,Steam Generation,Sp. Steam Generation
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,True,True,True,True,True,True,True,True,True,True,True,True,True,True
884,True,True,True,True,True,True,True,True,True,True,True,True,True,True
885,True,True,True,True,True,True,True,True,True,True,True,True,True,True
886,True,True,True,True,True,True,True,True,True,True,True,True,True,True
887,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [108]:
sp.dropna()

,Trend,Sulphur temp,Air Temp,Air Pressure,Burner temp,pressure drop in Furnace+WHB,WHB Outlet Temp,BFW Temp,Boiler out Steam temp,Boiler out steam pressure,Flowmter reading,Production Rate,Steam Generation,Sp. Steam Generation
0,01-02-2022 01:00,129.03,115.55,533.45,1107.17,827.72,334.95,102.59,335.14,38.06,51.92,51.92,64.10,1.23459168
1,01-02-2022 02:00,128.77,116.81,532.47,1107.51,823.07,334.84,101.36,335.14,38.18,110.19,58.27,64.05,1.09919341
2,01-02-2022 03:00,128.57,114.05,534.48,1103.31,822.77,334.30,100.38,335.14,37.96,168.22,58.03,63.91,1.1013269
3,01-02-2022 04:00,128.49,113.44,534.67,1102.78,822.05,333.77,102.76,335.14,37.68,221.14,52.92,64.21,1.213340892
4,01-02-2022 05:00,128.38,113.42,536.33,1102.98,827.89,333.50,101.50,335.14,37.45,279.83,58.69,64.51,1.099165105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,28-02-2022 20:00,117.90,115.52,543.87,1043.45,799.76,324.33,102.84,335.14,37.18,1053.01,52.65,59.33,1.126875594
667,28-02-2022 21:00,108.72,116.37,546.86,1039.47,797.16,324.32,102.78,335.14,37.37,1105.66,52.65,58.81,1.11699905
668,28-02-2022 22:00,108.22,112.62,515.54,1039.80,754.28,322.98,102.60,335.14,37.35,1156.56,50.90,58.74,1.154027505
669,28-02-2022 23:00,107.92,108.06,493.62,1041.08,720.67,320.94,102.34,335.14,36.82,1203.95,47.39,56.80,1.198565098
670,01-03-2022 00:00,107.14,107.77,493.48,1041.51,718.09,320.63,102.78,335.14,36.74,1254.84,50.89,54.95,1.079779917

In [109]:
req_df = sp[sp['Air Pressure']>500]

In [110]:
req_df

,Trend,Sulphur temp,Air Temp,Air Pressure,Burner temp,pressure drop in Furnace+WHB,WHB Outlet Temp,BFW Temp,Boiler out Steam temp,Boiler out steam pressure,Flowmter reading,Production Rate,Steam Generation,Sp. Steam Generation
0,01-02-2022 01:00,129.03,115.55,533.45,1107.17,827.72,334.95,102.59,335.14,38.06,51.92,51.92,64.10,1.23459168
1,01-02-2022 02:00,128.77,116.81,532.47,1107.51,823.07,334.84,101.36,335.14,38.18,110.19,58.27,64.05,1.09919341
2,01-02-2022 03:00,128.57,114.05,534.48,1103.31,822.77,334.30,100.38,335.14,37.96,168.22,58.03,63.91,1.1013269
3,01-02-2022 04:00,128.49,113.44,534.67,1102.78,822.05,333.77,102.76,335.14,37.68,221.14,52.92,64.21,1.213340892
4,01-02-2022 05:00,128.38,113.42,536.33,1102.98,827.89,333.50,101.50,335.14,37.45,279.83,58.69,64.51,1.099165105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,28-02-2022 18:00,122.85,116.31,546.60,1044.52,838.00,324.94,103.32,335.14,37.41,951.22,56.16,59.42,1.058048433
665,28-02-2022 19:00,124.49,115.58,544.16,1046.42,817.33,324.93,103.02,335.14,37.25,1000.36,49.14,59.13,1.203296703
666,28-02-2022 20:00,117.90,115.52,543.87,1043.45,799.76,324.33,102.84,335.14,37.18,1053.01,52.65,59.33,1.126875594
667,28-02-2022 21:00,108.72,116.37,546.86,1039.47,797.16,324.32,102.78,335.14,37.37,1105.66,52.65,58.81,1.11699905
668,28-02-2022 22:00,108.22,112.62,515.54,1039.80,754.28,322.98,102.60,335.14,37.35,1156.56,50.90,58.74,1.154027505

In [111]:
req_df1 =  req_df[req_df['Burner temp']>1050]

In [112]:
req_df2 = req_df1[req_df1['Production Rate']>50]

In [102]:
req_df2

,Trend,Sulphur temp,Air Temp,Air Pressure,Burner temp,pressure drop in Furnace+WHB,WHB Outlet Temp,BFW Temp,Boiler out Steam temp,Boiler out steam pressure,Flowmter reading,Production Rate,Steam Generation,Sp. Steam Generation
2,01-01-2022 03:00,128.65,109.95,538.28,1095.56,823.45,337.39,103.44,335.14,38.33,169.45,56.55,64.68,1.143766578
3,01-01-2022 04:00,128.85,109.49,538.04,1096.15,822.09,337.29,103.72,NaN,38.28,226.31,56.86,64.71,1.138058389
4,01-01-2022 05:00,128.76,109.87,541.98,1094.37,823.91,337.26,103.64,335.14,38.31,283.46,57.15,64.81,1.134033246
5,01-01-2022 06:00,128.71,110.28,542.90,1094.23,831.06,337.55,102.90,335.14,38.45,338.36,54.90,64.80,1.180327869
6,01-01-2022 07:00,128.53,110.10,545.04,1093.08,833.93,337.84,102.69,335.14,38.51,397.47,59.11,64.92,1.098291321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,31-01-2022 18:00,128.38,117.05,539.53,1105.68,882.68,335.97,98.61,335.14,38.08,1014.95,56.01,63.91,1.141046242
733,31-01-2022 19:00,128.36,117.00,536.88,1106.48,869.12,335.92,99.78,335.14,38.21,1072.82,57.87,64.13,1.108173492
734,31-01-2022 20:00,127.93,116.49,533.80,1106.73,852.76,335.54,103.91,335.14,38.21,1129.16,56.34,64.14,1.138445154
735,31-01-2022 21:00,127.60,116.22,533.32,1106.80,841.79,335.33,105.01,335.14,38.13,1186.27,57.11,63.98,1.120294169
737,31-01-2022 23:00,128.45,116.29,537.47,1103.01,837.00,334.86,100.17,335.14,37.95,1297.80,55.76,64.23,1.151901004

In [113]:
req_df2.to_csv("final_sp.csv")